@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.header {
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Pixelify Sans", sans-serif;
}

.animatedLink {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  padding: 20px;
  position: relative;
  font-size: 25px;
}

.animatedLink::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s ease; /* Transição apenas para a largura */
}

.animatedLink:hover::after {
  width: 100%; /* Aumenta a largura da barra até 100% ao passar o mouse */
}

.logo {
  max-width: 100%;
  height: 120px;
}

.cadastro {
  border: 1px solid white;
  background-color: #0e0b2b;
  font-size: 18px;
  color: white;
  padding: 20px;
  border-radius: 40px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  transition: transform 350ms ease-in-out;
}

.cadastro:hover {
  transform: scale(1.05);
}
