.myGroupsContainer {
    background: #1f165f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
    color: #fff;
  }
  
  h2 {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  label {
    font-family: 'Pixelify Sans', sans-serif;
    margin-bottom: 5px;
    display: block;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  .saveBtn {
    padding: 10px 20px;
    background-color: #0e0b2b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .saveBtn:hover {
    background-color: #1c1b4b;
  }
  
  .groupList {
    list-style: none;
    padding: 0;
  }
  
  .groupItem {
    background: #15103b;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .editBtn, .deleteBtn {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .editBtn {
    background-color: #1c1b4b;
    color: #fff;
  }
  
  .deleteBtn {
    background-color: #8b0000;
    color: #fff;
  }
  